article {
    padding-block-end: 66px;
}

article > h3 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

article > p {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
}

article ul {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.border {
    border-top-style: solid;
    border-top-color: #D8D8D8;
    border-top-width: thin;
}

@media (min-width: 1200px) {
    
}

