main > header {
    background-image: url(../assets/logo_cloud.svg);
  }

.secureaccess {
    background-image: url(../assets/secure.svg);
}

.advantages {
    background-image: url(../assets/advantages.svg);
}

.decorativeimg {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 60px;
    padding-block-start: calc(60px + 200px + 80px); 
    /* 60 = padding above image
        200 = background img size
        80 = padding between img and text */
    background-size: 200px;
    line-height: 1.8;
}

.decorativeimg h2, 
.decorativeimg h3 {
    margin-block-start: 0;
}

footer > nav > ul > li > ul > li > a {
    background-repeat: no-repeat;
    display: block;
    width: 38px;
    height: 38px;
    overflow: hidden;
    text-indent: -1000px;
    white-space: nowrap;
    padding: 0;
    background-position: center center;
}

a[href="https://www.facebook.com/"] {
    background-image: url(../assets/social_facebook.svg);
}

a[href="https://twitter.com/?lang=en"] {
    background-image: url(../assets/social_twitter.svg);
}

a[href="https://www.linkedin.com/"] {
    background-image: url(../assets/social_linkedin.svg);
}

@media (min-width: 1000px) {
    .decorativeimg {
        padding-block-start: 76px;
        padding-inline-end: 370px;
        text-align: start;
        background-position-x: right;
        background-size: auto;
    }

    main > header > p {
        margin-block-end: 0;
    }
}