main > header > p {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
}
 
@media (min-width: 1200px) {
    main > header {
        padding-block-end: calc(350px - 76px - 212px);
        /* 350 = required height of header element
            76 = padding block start 
            212 = vertical size of header content
         */
    }
}