h2 {
    font-size: 30px;
    font-weight: 200;
    color: #333333;
}

main > header > p {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    padding-right: 60px;
    padding-left: 60px;
}