.button {
    display: inline-block;
    padding-inline: 20px;
    padding-block: 12px;
    color: white;
    background-color: #F8A91C;
    font-weight: 700;
    border-radius: 2px;
}

.button:hover {
    color: black;
}

@media (max-width: 999px) {
    a.button {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;  
    }
}

@media (min-width: 1000px) {
    label.button {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;  
    }
}