dl {
    text-align: start;
    margin-block-start: 54px;
    margin-block-end: 0;
}

dl > div {
    padding-inline-start: 90px;
    margin-block-end: 40px;
    background-repeat: no-repeat;
    min-height: 60px;
}

dl > div:last-child {
    margin-block-end: 0;
}

dt {
    font-weight: 900;
    color: #333333;
}

dd {
    font-weight: 400;
    color: #666666;
    margin-inline-start: 0;
    padding-block-start: 5px;
}

#infrastructure {
    background-image: url(../assets/icon_infrastructure.svg);
}

#vulnerabilities {
    background-image: url(../assets/icon_vulnerabilities.svg);
}

#services {
    background-image: url(../assets/icon_third_party.svg);
}

@media (min-width: 1000px) {
    dl {
        display: flex;
        flex-direction: row;
        margin-block-start: 0;
    }

    dl > div {
        padding-inline-start: 0;
        padding-block-start: 88px;
    }
    dl > div + div {
        margin-inline-start: 56px;
    }
}
