footer {
    color: #DDDDDD;
    background-color: #3A3D40;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 30px;
    text-transform: uppercase;
}

footer > h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; 
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    padding: 15px 0 15px 0;
}

footer a {
    padding: 15px 5px 15px 5px;
}

footer a:hover{
    color: #3A3D40;
    background-color: #DDDDDD;
}

footer > nav > ul > li > ul > li {
    display: inline-block;
}

footer > nav > ul > li > ul {
    padding-block-start: 0;
    padding-inline-start: 0;
}

@media (min-width: 1200px) {
    footer {
        padding-inline: 120px;
        height: 160px;
        padding-block: 0;
    }
    footer ul {
        padding-block-start: 40px;
    }
   footer ul li {
       display: inline-flex;
       flex-direction: row;
       align-items: center;
       padding-inline: 30px;
   } 
   footer > nav > ul > li > ul > li {
       padding: 0;
   }
   footer > nav > ul > li > ul  {
    padding-inline-start: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
      
}
