article ul {
    list-style-position: inside;
    margin-block-end: 0;
    padding-inline-start: 0;
}

article ul li {
    margin-block-start: 18px;
} 

article ul li:first-child {
    margin-block-start: 0;
} 

#checkmark  li{
    list-style-image: url(../assets/checkmark.svg);
}

@media (min-width: 1000px) {
    .secureaccess ul {
        padding-inline-start: 10px;
    }
}