* {
    font-family: 'Open Sans';
}

/* Nav */
.mainnav {
    /* change font */
    font-size: 18px;
    color: #666666;
    font-weight: bolder;
}

.mainnav li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

/* Nav BG */
.mainheader {
    background-color: #f5f6f8;
    padding-bottom: 10px;
}

/* Title One */
h2 {
    font-size: 30px;
    color: #333333;
    font-weight: lighter;
    
}

/* Title One Paragraph */
.description {
    font-size: 18px;
    color: #666666;
    font-weight: normal;
    
}


/* Title Two */
h3 {
    color: #333333;
    display: vertical;
    font-weight: bold;
    font-size: 16px;
}

/* Title Two Paragraph */
.advantages {
    font-size: 16px;
    font-weight: normal;
    list-style-type: none;
    /* Work out how to add checkmark image */
}

/* Footer and Footer BG */

footer {
    background-color: #3A3D40;
    color: #DDDDDD;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
}

footer li {
    list-style-type: none;
    padding: 5px;
}