$nav-fw: 600;
$nav-fs: 18px;
$nav-color: #666666;
$nav-bg: #F5F6F8;

$title1-fw: 300;
$title1-fs: 30px;
$title1-color: #333333;

$title2-fw: 700;
$title2-fs: 16px; 
$title2-color: #333333;

$p1-fs: 18px;
$p1-color: #666666;

$p2-fs: 16px;
$p2-color: #666666;

$footer-fw: 700;
$footer-fs: 18px;
$footer-color: #DDDDDD;
$footer-bg: #3A3D40;
$footer-ls: 2px;

